.icon-menu {
    font-size: 3em;
    float: right;
}

.site-head {
    background: lightblue;
}

.main-menu {
    padding: 0.1em;
}
  
.main-menu ul {
    display: none;
    padding: 0;
    list-style: none;
    clear: both;
}
  
.main-menu:hover ul {
    display: block;
}
  
.main-menu li {
    margin-right: .4em;
    font-size: 1.5em;
    padding: .5em .2em;
    border-bottom: 1px solid #ccc;
}

.template {
    display: none;
  }

#filters {
    list-style: none;
}